<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Judge Return</title>
</head>
<body>
<form action="/judge_return" method="post">
    <div class="form-group">
        <label for="">Enter Judge Name</label>
        <input type="text" name="judge_name" class="form-control" placeholder="Judge Name">
    </div>
    <div class="form-group">
        <label for="">Enter Statute</label>
        <input type="text" name="statute" class="form-control" placeholder="Statute">
    </div>
    <button value="judge_return" type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>
